In [1]:
%matplotlib
import numpy as np
import pandas as pd

Using matplotlib backend: MacOSX

In [2]:
sales_train = pd.read_csv('kc_house_train_data.csv')
sales_test = pd.read_csv('kc_house_test_data.csv')

In [11]:
sales_train[:3]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [4]:
xy = sales_train.sqft_living*sales_train.price

In [5]:
def simple_linear_regression(input_feature,output):
    N = len(output)
    sum_of_x = input_feature.sum(axis=0)
    sum_of_y = output.sum(axis=0)
    sum_of_x_sq = np.power(input_feature,2).sum(axis=0)
    sum_of_xy = xy.sum(axis=0)
    slope = (sum_of_xy - (sum_of_x*sum_of_y)/N) / (sum_of_x_sq - (sum_of_x*sum_of_x)/N)
    intercept = (sum_of_y - slope*sum_of_x)/N
    return (intercept, slope)

In [7]:
coefficients = simple_linear_regression(sales_train['sqft_living'],sales_train['price'])
sqft_slope = coefficients[1]
sqft_intercept = coefficients[0]

In [87]:
sales_train['prediction'] = sqft_intercept + sales_train['sqft_living'] * sqft_slope

In [88]:
sales_train['prediction']

0        2.855954e+05
1        6.775181e+05
2        1.699922e+05
3        5.055232e+05
4        4.265748e+05
5        1.481101e+06
6        4.364433e+05
7        2.517603e+05
8        4.547707e+05
9        4.857861e+05
10       9.566574e+05
11       2.799562e+05
12       3.391675e+05
13       4.632294e+05
14       4.857861e+05
15       4.040181e+05
16       2.912345e+05
17       3.053325e+05
18       4.096572e+05
19       8.128584e+05
20       5.929305e+05
21       2.545799e+05
22       6.436831e+05
23       6.436831e+05
24       3.476263e+05
25       3.814614e+05
26       6.775181e+05
27       2.884149e+05
28       6.098480e+05
29       5.337191e+05
             ...
17354    4.265748e+05
17355    1.320384e+06
17356    2.179252e+05
17357    4.406727e+05
17358    7.367295e+05
17359    7.367295e+05
17360    3.081521e+05
17361    4.801470e+05
17362    3.560851e+05
17363    3.814614e+05
17364    2.940541e+05
17365    6.690594e+05
17366    1.337302e+06
17367    7.339099e+05
17368    2.884149e+05
17369    3.842809e+05
17370    9.679357e+05
17371    9.143636e+05
17372    8.320316e+05
17373    1.077900e+06
17374    1.213240e+06
17375    3.546753e+05
17376    3.758222e+05
17377    5.929305e+05
17378    3.730026e+05
17379    9.425594e+05
17380    3.222500e+05
17381    3.842809e+05
17382    4.040181e+05
17383    2.404819e+05
Name: prediction, dtype: float64

In [8]:
def get_regression_predictions(input_feature,intercept, slope):
    return intercept + input_feature*slope

In [10]:
get_regression_predictions(2650,sqft_intercept,sqft_slope)

700074.84594600543

In [23]:
((sales_train['price'] - (sales_train['sqft_living']*sqft_slope+sqft_intercept))**2).sum(axis=0)

1201918354177283.0

In [20]:
def get_residual_sum_of_squares(input_feature,output,intercept,slope):
    return np.power((output - (intercept+slope*input_feature)),2).sum(axis=0)

In [21]:
get_residual_sum_of_squares(sales_train['sqft_living'],sales_train['price'],sqft_intercept,sqft_slope)

1201918354177283.0

In [24]:
def reverse_regression_predictions(output, intercept, slope):
    return (output - intercept)/slope

In [25]:
reverse_regression_predictions(800000,sqft_intercept,sqft_slope)

3004.3962451609518

In [26]:
# number of bedrooms as features
coefficients = simple_linear_regression(sales_train['bedrooms'],sales_train['price'])
bedroom_slope = coefficients[1]
bedroom_intercept = coefficients[0]

In [27]:
get_residual_sum_of_squares(sales_test['bedrooms'],sales_test['price'],bedroom_intercept,bedroom_slope)

1.2076041855460564e+22

In [28]:
get_residual_sum_of_squares(sales_test['sqft_living'],sales_test['price'],sqft_intercept,sqft_slope)

275402933617683.31